@import "title";
@import "btn";
@import "animate";

.pricing__header {
  text-transform: uppercase;
}
.image__container {
  position: relative;}


.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box__column,
.pricing__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section {
  width: 1400px;
  position: relative;
  margin: 0 auto;

}
.container {
  position: relative;
margin: 0 352px;
padding-bottom: 100px;
padding-top: 70px;
}

.home {
  color: #ffffff;
  position: relative;
  margin: 0 auto;

  .box__column {
    position: absolute;
    height: 85%;
  }
  .container {
    top: 50px;
    padding-top: 0;
    width: 696px;
  }
  .dots {
    list-style: none;
    padding: 0px;
    height: 10px;
    li {
      display: inline-block;
      border-radius: 5px;
      width: 7px;
      height: 7px;
      margin-right: 7px;
      background: #ffffff;
      cursor: pointer;
      opacity: 0.5;
    }
    li.active {
      background: #ffffff;
      opacity: 1;
    }
  }
  .slider__item {
    height: 246px;
    margin-bottom: 40px;

    .slider__title {
      font-family: Montserrat;
      font-size: 39px;
      font-weight: bold;
      margin-left: -1500px;
      width: 472px;
    }
    .slider__text {
      font-family: Roboto;
      font-size: 19px;
      font-weight: 100;
      margin-left: 1500px;
      width: 472px;
    }
    .button {
      margin-top: 400px;
    }
  }
  .logo {
    font-family: Montserrat;
    font-size: 29.5px;
    font-weight: bold;
    line-height: 0.24;
    letter-spacing: -2.95px;
    text-transform: uppercase;
  }
  .slider__menu {
    width: 422px;
    .menu {
      list-style-type: none;
      text-transform: uppercase;
      .active {
        color: #ffe26d;
      }
      li {
        display: inline-block;
        a {
          font-family: Montserrat;
          font-size: 10.5px;
          font-weight: bold;
          line-height: 0.67;
          text-align: left;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
}

.welcome {
  .welcome__text {
    width: 436px;
    height: 165px;
    font-family: Roboto;
    font-size: 29.5px;
    font-weight: 100;
    text-align: left;
    color: #040405;
    margin-top: 30px;
    word-wrap: break-word;
  }
  .umbrella__icon {
    width: 188px;
    height: 195px;
    object-fit: contain;
    opacity: 0.2;
    margin-bottom: 70px;
  }
  .column {
    width: 156px;
    text-align: center;
    p {
      margin-bottom: 38px;
    }
  }
  .container::after {
    content: "";
    width: 695px;
    height: 2px;
    opacity: 0.5;
    background-color: rgba(4, 4, 5, 0.5);
    margin-top: 58px;
  }
  .welcome__icon {
    display: inline-block;
    background-color: #62497c;
    background-position: 50% 50%;
    border-radius: 50%;
    object-fit: contain;
    margin-bottom: 20px;
    .bell__icon {
      padding: 21px 23px 20px 22px;
    }
    .envelop__icon {
      padding: 27px 22px 26px 23px;
    }
    .drawer__icon {
      padding: 24px 25px 23px 26px;
    }
    img {
      border-radius: 0;
    }
  }
}

.project {
  .box {
    background-color: #efefef;
  }
  .project__about,
  .button {
    margin-left: 44px;
  }
  img {
    margin-bottom: 31px;
    height: 485px;
    width: 350px;
  }
  h3 {
    text-align: left;
    margin-bottom: 22px;
    color: #040405;
  }
  p {
    text-align: left;
    width: 283px;
    margin-bottom: 25px;
    word-wrap: break-word;
    height: 61px;
  }
  .button {
    width: $btn_large;
    margin-bottom: 47px;
    background-color: #fefefe;
    &:hover {
      background-color: #62497c;
    }
  }
  .column:hover {
    background-color: #ffe26d;
  }
}

.pricing {
  .pricing__column {
    height: 200px;
  }
  .pricing__header {
    font-size: 14.5px;
    font-weight: bold;
    font-family: Montserrat;
  }
  .pricing__cost {
    font-size: 14.5px;
    color: rgba(4, 4, 5, 0.39);
    font-family: Montserrat;
  }
  .pricing__tema{
    line-height: 2.1;
  }
  .pricing__about {
    font-family: Helvetica;
    font-size: 10.5px;
    color: #040405;
    font-weight: 700;
  }
  .border {
    border-right: #efefef 1px solid;
  }
  .table {
    text-align: center;
    .button {
      width: $btn_small;
      height: 28px;
      margin: 0 auto;
    }
  }
}

.video {
  background-color: #62497c;
  color: #fefefe;
.section__title{
  padding-top: 70px;
}
  .box {
    justify-content: center;
  }
  .video__main {
    overflow: hidden;
    width: 1400px;
    .video__item {
      margin: 0 18px;
      font-family: Montserrat;
      font-size: 10.5px;
      font-weight: bold;
      text-transform: uppercase;
      .image-container {
        position: relative;
        width: 690px;
        margin-bottom: 23px;
        .after {
          position: absolute;
          top: 40%;
          left: 40%;
        }
      }
      .video__about {
        margin-bottom: 100px;
        p {
          display: inline;
        }
        .video__right {
          float: right;
        }
      }
    }
  }
}

.team {
  background-color: #fefefe;
  .team__person {
    p {
      opacity: 0.39;
      text-transform: capitalize;
      font-weight: 100;
      line-height: 0.48;
      color: rgba(4, 4, 5, 0.39);
      margin-bottom: 64.1px;
    }
  }
  h3 {
    padding-bottom: 5px;
  }
  img {
    border-radius: 50%;
    margin-bottom: 21px;
    position: relative;
    &:hover {
      opacity: 0.5;
    }
  }
}

.life {
  background-color: #efefef;
  .life__image {
    margin-bottom: 13px;
  }
  .strelka {
    background-color: #2a2a2a;
    padding: 28px 11px;
    &:hover {
      background-color: #62497c;
    }
  }
}

.newsletter {
  .image__container .news {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .section__title {
    color: #ffffff;
  }
  .news__form {
    text-align: center;
    .news__input {
      width: 414px;
      border: none;
      border-radius: 2.9px;
      height: 50px;
      &::placeholder {
        font-family: Montserrat;
        font-size: 19px;
        color: #d8d8d8;
        padding-left: 15px;
      }
    }
.box{
  justify-content: flex-end;
  width: 546px;
  margin: 0 auto;
}
    .button {
      width: 132px;
      height: 55px;
      margin-bottom: 42px;
      background-color: #ffe26d;
      
      &:hover {
        background-color: #62497c;
        color: #fefefe;
      }
    }
  }
}

.blog {
  .button {
    background-color: #ececec;
  }
  .button:hover {
    background-color: #ffe26d;
    color: #323232;
  }
  .box {
    position: relative;
    text-align: center;
    .blog__column {
      display: inline-block;
      text-align: center;
      width: 33%;
      img {
        margin-bottom: 36px;
      }
      h3 {
        color: #040405;
        padding: 0 19px 13px 19px;
        line-height: normal;
      }
      .date {
        margin-bottom: 16px;
      }
      p {
        margin-bottom: 29px;
        padding: 0 10px;
      }
    }
  }
}

.contact {
  background-color: #ffe26d;

  iframe {
    float: left;
    margin-right: 43.4px;
  }
}
*:focus {
  outline: none;
}
.contact__form {
  .section__title {
    text-align: left;
    padding-top: 70px;
  }
  .contact__ul {
    list-style-type: none;
    list-style-position: outside;
    margin: 10px;
    .contact__input {
      width: 311px;
      height: 44px;
      border: none;
      margin-bottom: 21px;
    }
    .textarea {
      height: 145px;
    }
  }
  label {
    font-family: Montserrat;
    font-size: 10.5px;
    font-weight: bold;
    line-height: 0.67;
    text-align: left;
    color: #323232;
    text-transform: uppercase;
    display: block;
    margin-bottom: 12px;
  }
  .button {
    width: 311px;
    background-color: #62497c;
    color: #fefefe;
    margin-top: -20px;
    margin-bottom: 8px;
  }
}

.footer {
  color: #040405;
  width: 1400px;
  text-align: center;
  margin: 0 auto;
  .box {
    justify-content: space-around;
    margin-bottom: 10px;
    flex-wrap: wrap;
    .footer__column {
      width: 140px;
    }
    .footer__icon {
      margin: 10px 5px;
      color: #000000;
      font-size: 16px;
      &:hover {
        color: #62497c;
      }
    }
  }
  a {
    text-decoration: none;
    color: #040405;
  }
  .item__mini {
    color: #040405;
  }
  .footer__contact {
    list-style-type: none;
    width: 120px;
    margin: 0 auto;
    li {
      display: inline-block;
    }
  }
  .footer__title {
    font-family: Montserrat;
    font-size: 10.5px;
    font-weight: bold;
    color: #040405;
    margin-bottom: 14px;
    text-transform: uppercase;
  }
}
