.button {
  border-radius: 2.9px;
  border-style: none;
  text-transform: uppercase;
  font-size: 10.5px;
  font-weight: bold;
  color: #323232;
  padding: 15px 30px;
  &:hover {
    background-color: #62497c;
    color: white;
  }
}

.btn_yellow {
  background-color: #ffe26d;

  &:hover {
    background-color: #62497c;
    color: white;
  }
}

.btn_grey {
  background-color: #ececec;

  &:hover {
    background-color: #ffe26d;
    color: #323232;
  }
}

.btn_violet {
  background-color: #62497c;
}

.btn__white {
  background-color: #fefefe;

  &:hover {
    background-color: #62497c;
    color: white;
  }
}
