@import "title";
@import "btn";
@import "animate";
@import "variables";
@import "icon";

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section {
  width: 1400px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  width: 700px;
  padding: 83px 0;
}

.home {
  color: $white__color;
  background-image: url(../../assets/img/image.jpg);
  background-repeat: no-repeat;
  .box__column {
    height: 600px;
  }
  .container {
    padding: 41px 0;
  }
  .dots {
    list-style: none;
    padding: 0px;
    height: 10px;

    .dots__item {
      display: inline-block;
      border-radius: 5px;
      width: 7px;
      height: 7px;
      margin-right: 7px;
      background: $white__color;
      cursor: pointer;
      opacity: 0.5;
    }

    li.active {
      background: $white__color;
      opacity: 1;
    }
  }

  .slider__item {
    height: 243px;

    .slider__title {
      font-family: $main__font;
      font-size: 39px;
      font-weight: bold;
      margin-left: -1500px;
      width: 472px;
    }

    .slider__text {
      font-family: $second__font;
      font-size: 19px;
      font-weight: 100;
      margin-left: 1500px;
      width: 472px;
    }

    .button {
      margin-top: 400px;
    }
  }

  .logo {
    font-family: $main__font;
    font-size: 29.5px;
    font-weight: bold;
    line-height: 0.24;
    letter-spacing: -2.95px;
    text-transform: uppercase;
  }

  .menu {
    list-style-type: none;
    text-transform: uppercase;

    .menu__item {
      display: inline-block;

      .menu__a {
        font-family: $main__font;
        font-size: 10.5px;
        font-weight: bold;
        line-height: 0.67;
        text-align: left;
        color: $white__color;
        text-decoration: none;
        padding: 15px;
      }
      .active {
        color: $yellow__color;
      }
    }
  }
}

.welcome {
  .welcome__text {
    width: 436px;
    font-family: $second__font;
    font-size: 29.5px;
    font-weight: 100;
    color: $main__color;
    margin-top: 30px;
  }

  .umbrella__icon {
    width: 188px;
    height: 195px;
    object-fit: contain;
    opacity: 0.2;
    margin-bottom: 70px;
  }

  .column {
    padding: 0 30px;
    text-align: center;

    .item__mini {
      margin-bottom: 38px;
    }
  }

  .container::after {
    content: "";
    width: 695px;
    height: 2px;
    opacity: 0.5;
    background-color: $grey__color;
    margin-top: 58px;
  }

  .welcome__icon {
    display: inline-block;
    background-color: $violet__color;
    background-position: 50% 50%;
    border-radius: 50%;
    margin-bottom: 20px;

    .bell__icon {
      padding: 21px 23px 20px 22px;
    }

    .envelop__icon {
      padding: 27px 22px 26px 23px;
    }

    .drawer__icon {
      padding: 24px 25px 23px 26px;
    }

    .bell__icon,
    .envelop__icon,
    .drawer__icon {
      border-radius: 0;
    }
  }
}

.project {
  .box {
    background-color: #efefef;
  }

  .project__about,
  .button {
    margin-left: 44px;
  }

  .project__img {
    margin-bottom: 31px;
    height: 485px;
    width: 350px;
  }

  .title__column {
    text-align: left;
    margin-bottom: 22px;
    color: $main__color;
  }

  .item__mini {
    text-align: left;
    margin-bottom: 25px;
    padding-right: 25px;
  }

  .button {
    margin-bottom: 47px;
    &:hover {
      background-color: $violet__color;
    }
  }

  .column:hover {
    background-color: $yellow__color;
  }
}

.pricing {
  .pricing__header {
    color: $main__color;
  }

  .pricing__cost {
    font-size: 14.5px;
    color: rgba(4, 4, 5, 0.39);
    font-family: $main__font;
  }

  .pricing__tema {
    line-height: 2.1;
  }

  .item__mini {
    font-size: 10.5px;
    color: $main__color;
    font-weight: 700;
  }

  .border {
    border-right: #efefef 1px solid;
  }

  .table {
    text-align: center;

    .button {
      margin: 0 30px;
    }
  }
}

.video {
  background-color: $violet__color;
  color: #fefefe;
  padding: 73px 0;

  .box {
    justify-content: center;
  }

  .video__main {
    overflow: hidden;
    width: 1400px;

    .video__item {
      margin: 0 18px;
      font-family: $main__font;
      font-size: 10.5px;
      font-weight: bold;
      text-transform: uppercase;

      .image-container {
        position: relative;
        width: 690px;
        margin-bottom: 23px;

        .after {
          position: absolute;
          top: 40%;
          left: 40%;
        }
      }
      .video__title {
        display: inline;
      }

      .video__right {
        float: right;
      }
    }
  }
}

.team {
  background-color: #fefefe;
  .box {
    flex-wrap: wrap;
  }
  .team__person {
    margin-bottom: 34px;
    padding: 0 30px;
    .team__spec {
      opacity: 0.39;
      text-transform: capitalize;
      font-weight: 100;
      color: rgba(4, 4, 5, 0.39);
    }
  }

  .team__foto {
    border-radius: 50%;
    margin-bottom: 21px;
    position: relative;

    &:hover {
      opacity: 0.5;
    }
  }
}

.life {
  background-color: #efefef;

  .life__image {
    margin-bottom: 13px;
  }

  .strelka {
    background-color: #2a2a2a;
    padding: 28px 11px;

    &:hover {
      background-color: $violet__color;
    }
  }
}

.newsletter {
  background-image: url(../../assets/img/news.jpg);
  background-repeat: no-repeat;

  .news__form {
    text-align: center;

    .news__input {
      width: 414px;
      border: none;
      border-radius: 2.9px;
      height: 50px;

      &::placeholder {
        font-family: $main__font;
        font-size: 19px;
        color: #d8d8d8;
        padding-left: 15px;
      }
    }

    .box {
      justify-content: flex-end;
      width: 546px;
      margin: 0 auto;
    }

    .button {
      width: 132px;
      height: 55px;
      margin-bottom: 42px;

      &:hover {
        background-color: $violet__color;
        color: #fefefe;
      }
    }
  }
}

.blog {
  .button:hover {
    background-color: $yellow__color;
    color: #323232;
  }

  .box {
    position: relative;
    text-align: center;

    .blog__column {
      display: inline-block;
      text-align: center;
      width: 33%;
      background-color: white;

      .blog__img {
        margin-bottom: 36px;
      }

      .title__column {
        color: $main__color;
        padding: 0 19px 13px 19px;
        line-height: normal;
      }

      .item__mini {
        margin-bottom: 29px;
        padding: 0 10px;
      }
      .date {
        margin-bottom: 16px;
      }
    }
  }
}

.contact {
  background-color: $yellow__color;
  .box {
    justify-content: end;
  }
  .section__title {
    padding-top: 40px;
  }
}

*:focus {
  outline: none;
}

.contact__form {
  padding: 0 0 0 30px;
  .section__title {
    text-align: left;
    padding-top: 70px;
  }

  .contact__list {
    list-style-type: none;
    list-style-position: outside;
    margin: 10px;

    .contact__item {
      margin-bottom: 21px;
    }

    .contact__input {
      width: 311px;
      height: 44px;
      border: none;
    }

    .textarea {
      height: 145px;
      resize: none;
      width: 311px;
      padding: 0;
    }
  }

  .form__label {
    font-family: $main__font;
    font-size: 10.5px;
    font-weight: bold;
    line-height: 0.67;
    text-align: left;
    color: #323232;
    text-transform: uppercase;
    display: block;
    margin-bottom: 12px;
  }

  .button {
    width: 311px;
    color: #fefefe;
    margin: -20px 10px 9px 10px;
  }
}

.footer {
  text-align: center;

  .box {
    justify-content: space-around;

    .footer__column {
      width: 18%;
    }
  }

  .footer__address {
    display: block;
  }

  .footer__a {
    text-decoration: none;
    color: $main__color;
    padding: 5px;
  }

  .item__mini {
    color: $main__color;
    display: inline-block;
  }

  .footer__title {
    font-family: $main__font;
    font-size: 10.5px;
    font-weight: bold;
    margin-bottom: 14px;
    text-transform: uppercase;
  }
}
