//цвет
$main__color: #040405;
$white__color: #ffffff;
$yellow__color: #ffe26d;
$violet__color: #62497c;
$grey__color: rgba(4, 4, 5, 0.5);

//шрифт
$main__font: Montserrat;
$second__font: Roboto;
$item__font: Helvetica;
