.section__title {
  font-family: Montserrat;
  font-size: 5vh;
  font-weight: bold;
  line-height: 0.92;
  text-align: center;
  color: #040405;
}

.title__white {
  color: #ffffff;
}

.title__column {
  font-family: Montserrat;
  font-size: 14.5px;
  font-weight: bold;
  line-height: 2.79;
  text-align: center;
  color: #62497c;
  text-transform: uppercase;
}

.item__mini,
.footer a {
  font-family: Helvetica;
  font-size: 13.5px;
  line-height: 1.74;
  text-align: center;
  color: rgba(4, 4, 5, 0.5);
}
